* {
	font-size: 12px;
	font-family: monospace;
}

window#waybar {
	background: transparent;
	color: #fdf6e3;
}

.modules-right,
.modules-left {
	padding-left: 10px;
	padding-right: 10px;
}

.modules-center,
.modules-right,
.modules-left {
	padding-top: 8px;
	padding-bottom: 2px;
}

#workspaces {
	padding-left: 0;
	padding-right: 3px;
	border-radius: 0 3px 3px 0;
}

#workspaces button {
	padding: 0 5px;
	background-color: transparent;
	color: #ffffff;
	border-radius: 0;
}

#workspaces button:hover,
#workspaces button.focused {
	background-color: black;
	color: #483d8b;
	box-shadow: inset 0 -3px #8a2be2;
}

#workspaces button.urgent {
	box-shadow: inset 0 -3px #eb4d4b;
}

#workspaces button.visible {
	background-color: black;
}

#workspaces button.active {
	background-color: black;
	box-shadow: inset 0 -3px #8a2be2;
}

#workspaces button.empty {
	opacity: 0.2;
}

#custom-right-arrow-dark-end,
#custom-left-arrow-light-start {
	color: transparent;
}

#custom-right-arrow-light-end,
#custom-left-arrow-dark-start {
	color: #483d8b;
	background-color: transparent;
}

#custom-left-arrow-light-start,
#custom-left-arrow-dark-start,
#custom-right-arrow-light-end,
#custom-right-arrow-dark-end,
#custom-right-arrow-dark,
#custom-left-arrow-dark,
#custom-right-arrow-light,
#custom-left-arrow-light {
	font-size: 20;
}

#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #292b2e;
	background-color: #292b2e;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	background-color: #292b2e;
	color: #483d8b;
}

#custom-right-arrow-light,
#custom-left-arrow-light {
	background: #483d8b;
	color: #292b2e;
}

#pulseaudio,
#clock.one {
	border-radius: 2px 0 0 2px;
}

#clock.three {
	border-radius: 0 2px 2px 0;
}

#custom-pacman,
#idle_inhibitor {
	padding: 0 10px 0 4px;
}

#tray,
#language {
	padding: 0 4px;
}

#clock.one,
#clock.two,
#clock.three,
#workspaces,
#pulseaudio,
#memory,
#cpu,
#custom-spotify,
#custom-pacman,
#battery,
#disk,
#language,
#idle_inhibitor,
#tray {
	background: #483d8b;
	color: #fdf6e3;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}
